$flag-size: 40px;

.ebanx-currency-converter- {
  &-body {
    width: 100%;
    height: auto;
  }
  &-flag {
    &-list {
      display: inline-flex;
    }
    &-item {
      display: list-item;
      border: 0 !important;
      margin: 0 5px;
    }
    &-image {
      height: $flag-size;
      width: $flag-size;
    }
  }
}
